<!DOCTYPE html>
<html>
<head>
  <title>Good Vibes Only</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="landing-center">
    <h1>Good Vibes Only!</h1>
    <div class="center-buttons">
      <a href="/login"><button>Sign In</button></a>
      <a href="/register"><button>Sign Up</button></a>
    </div>
  </div>
</body>
</html>
