<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav style="margin-bottom:20px;">
  <a href="/user">Home</a> |
    <a href="/user">Profile</a> |
  <a href="/affirmations">Starter Affirmations</a> |
    <a href="/notifications/view">Notifications</a> |
    <% if (!user) { %>
      <a href="/login">Login</a> |
    <% } else { %>
      <a href="/logout">Logout</a>
    <% } %>
  </nav>
  <h1>Register</h1>
  <form action="/register" method="POST">
  <label style="color:#fff;">Name:</label>
  <input type="text" name="name" required style="color:#fff;"><br>
  <label style="color:#fff;">Email:</label>
  <input type="email" name="email" required style="color:#fff;"><br>
  <label style="color:#fff;">Password:</label>
  <input type="password" name="password" required style="color:#fff;"><br>
    <button type="submit">Register</button>
  </form>
</body>
</html>
